<h1 align="center">Listing pictures</h1>

<% if can? :create, Picture  %>
    <%= link_to 'New Picture', new_picture_path, class: "btn btn-lg btn-block" %><br>
<% else %>
    <div class="alert alert-danger">
      <strong>Alert!</strong> Please sign in and submit for review.
    </div>
<% end %>

<% if flash[:alert] %>
    <div class="alert alert-danger">
      <strong>Alert!</strong> <%= flash[:alert] %>
    </div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Image</th>
      <th>Article</th>
      <th colspan="3">Links</th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= link_to image_tag(picture.image.url(:med)), picture.image.url %></td>
        <td><%= picture.article.nil? ? "None" : picture.article.title %></td>
        <td><%= link_to 'Show', picture %></td>
        <% if can? :update, picture  %>
            <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <% end %>
        <% if can? :destroy, picture  %>
            <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
