<p id="notice"><%= notice %></p>

<p align="center">
  <strong>Image:</strong><br/><br/>
  <%= link_to image_tag(@picture.image.url(:low)), @picture.image.url %>
</p>
<br/><br/>
<p align="center">
  <strong>Belongs to the Article: </strong>
  <%= @picture.article.nil? ? "None" : @picture.article.title %>
</p>

<div align="center">
<%= link_to 'Edit', edit_picture_path(@picture), class: "btn btn-lg" %>
<%= link_to 'Back', pictures_path, class: "btn btn-lg" %>
</div>