<h1 align="center">Listing features</h1>

<% @features.each do |feature| %>
    <div class="jmb container-fluid col-md-4">
      <div class="jumbotron">
        <% if !params[:from].nil? && !params[:to].nil? %>
        <h1><%= feature.range_count(params[:from], params[:to]) %></h1>
        <% else %>
        <h1><%= feature.usages.count %></h1>
<% end %>
        <p><%= feature.name %></p>
      </div>
    </div>
<% end %>

<div id="filterdiv">
  <%= form_tag features_path, method: :get do %>
      <h4 align="center">Filter Reads:</h4>
      <p>
        <%= label_tag 'From Date:' %>
        <br>
        <%= text_field_tag :from, nil, class: 'datepicker' %>
        <br>
        <%= label_tag 'To Date:' %>
        <br>
        <%= text_field_tag :to, nil, class: 'datepicker' %>
        <br>
      </p>
      <div align="center">
        <%= submit_tag 'Search', :name => nil, class: 'btn'%>
      </div>
  <% end %>
</div>
