<h1 align="center">Listing Users</h1>

<table class="table table-hover">

  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Writer</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>

  <% @users.each do |user| %>
      <%= form_for(user,  controller: 'users/permit', action: 'permit_edit') do |f| %>
          <% if user.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
                <ul>
                  <% user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= f.check_box :admin %></td>
            <td><%= f.check_box :writer %></td>
            <!--<div class="actions">-->
            <td><%= f.submit %></td>
            <!--</div>-->

          </tr>
      <% end %>
  <% end %>


  </tbody>

</table>
